.neighbor-ten {
    font-size: 1.2rem;
    font-weight: bold;
    color: #c62828;
}

.neighbor-dots {
    color: #c62828;
}

.neighbor-num {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 .75rem;
}
